<nav class="header__nav">
    <div class="header__wrapper">
        <div class="container header__container">
            <a class="no-decoration" asp-page="/Index">
                <img class="logo" src="~/logo.svg" height="30" alt="Логотип" itemprop="logo" />
            </a>

            <a class="no-decoration" asp-page="/Contacts">Контакты</a>
        </div>
    </div>
</nav>
