<div class="socials">
    @foreach (var social in Model.Socials)
    {
            <a class="social__link" href="@social.Link" target="_blank">
                <i class="fa-brands fa-@social.Icon fa-xl"></i>
            </a>
    }
</div>
