<header class="@Class">
    <nav class="header__nav">
        <div class="container header__container">
            <a class="no-decoration" href="/@IndexModel.Seo">
                <img class="logo" src="/logo.svg" height="30" alt="Логотип" itemprop="logo" />
            </a>

            <a class="no-decoration" href="/@ContactsModel.Seo">Контакты</a>
        </div>
    </nav>
</header>
