<header class="@Class">
    <nav class="header__nav">
        <div class="header__wrapper">
            <div class="container header__container">
                <a class="no-decoration" href="/">
                    <img class="logo" src="/logo.svg" height="30" alt="Логотип" itemprop="logo" />
                </a>

                <a class="no-decoration" href="/contacts">Контакты</a>
            </div>
        </div>
    </nav>
</header>
